body {
    font-family: Arial, sans-serif; 
    color: #333; 
    background-color: #FAF9F6; 
    padding: 20px; 
    line-height: 1.6; 

  }
  
  body::before{
    content: "";
    display: block;
    max-width: 1150px;
    margin: auto;
    justify-content: center;
    height: 5px; 
    background-color: #000000; 
    margin-top: 55px; 
    margin-bottom: 10px; 
    }

  body::after{
    content: "";
    display: flex;
    max-width: 1150px;
    margin: auto;
    justify-content: center;
    height: 5px; 
    background-color: #000000; 
    margin-top: 50px;
  }
  
  .container {
    display: flex;
    max-width: 1150px;
    margin: auto; 
    text-align: left;
    padding: 20px;
    justify-content: center;
    flex-direction: column; 
    justify-content: center; 
  }
  
  h1 {
    font-size: 3em; 
    color: #000; 
    padding-top: 1px;
    margin-bottom: 7px;
  }
  
  p {
    font-size: 1.2em;
    margin-bottom: 1em; 
  }

  .assignment a {
    display: block;
    text-decoration: none;
    color: inherit;
  }
  
  img {
    width: 45px;
    height: 45px;
    margin: 5px;
  }

  img.transparent {
    opacity: 1;
  }
  
  .button {
    background: none;
    border: none;
    text-decoration: none;
    margin: 2 15px;
    padding: 11px;
    transition: color 0.3s ease;
    display: inline-flex;
    align-items: center;
    border-radius: 7px;

  }

  .button:hover{
    background-color: rgb(175, 175, 175); 
    cursor: pointer;
    border-radius: 7px;
  }
  .footer {
    display: flex;
    justify-content: center;
    font-size: 0.6em;
    margin-top: 0;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-link {
    color: inherit;
    text-decoration: underline;
  }
  